* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

nav {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  #00C0EF;
  position: relative;
  height: 70px;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.8em 1.2em;
    border-radius: 1em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

nav a .material-symbols-outlined {
  color: inherit;
}

nav a:not(.active-link):hover {
  background-color: aliceblue;
  color: #00C0EF;
  font-weight: bold;
}

nav a.active-link {
  background-color: white;
  color: #00C0EF;
  font-weight: bold;
  cursor: default; /* Cursor padrão, pois clicar não faz nada */
}

nav img {
  margin-top: 0.2em;
  width: 150px;
}

#menu-icon-side {
  color: white;
  font-size: 2em;
}

.menu-icon {
  display: none;
}

@media (max-width: 600px) {
  nav ul {
    position: absolute;
    top:70px;
    left: 0;
    right: 0;
    flex-direction: column;
    /* align-content: start; */
    align-items: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    background-color: #00C0EF;
    gap: 0;
    /* margin: 0; */
    overflow: hidden;
  }
  

  /* nav a {
    margin: 0;
  } */

  nav ul li {
    padding: 25px;
    /* margin-bottom: 0; */
    /* gap: 0; */
  }
  
  .menu-icon {
    display: block;
  }

 #menuList {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

#menuList.menu-aberto {
    max-height: 300px;
}
}