.error404_ {
  display: flex;
  flex-direction: column;
  /*justify-content:  center;*/
  align-items: center;
  align-content: space-around;
  gap: 0;
  margin-top: 2em;
}

p {
  font-size: 1.5em;
  margin: 0;
}


img {
  width: 35%;
}

.botao_voltar {
  background-color: #00C0EF;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1em;
}

.botao_voltar:hover {
  background-color: #2f2f2f;
  color: white;
}

a {
  text-decoration: none;

}