<div class="home">

<form>
    <div>
        <h2>Faça seu lançamento: </h2>
      <input type="radio" id="income">
     <label for="income">Receita</label>


      <input type="radio" id="income">
      <label for="outcome">Despesa</label>
    </div>

     <div>
      <label for ="description">Descrição: </label>
      <input type="text" class="descrition" placeholder="Descreva sua transação">
    </div>

    <div>
    <label for="value">Valor: </label>
    <input type="text" inputmode="decimal" placeholder="0,00" class="value">
    </div>

    <div>
    <input type="submit" class="submit" value="Adicionar Transação">
    <input type="reset" value="Limpar">
    </div>
</form>


<div id="relatorio">
    <p>Teste</p>
</div>

</div>
