* {
    background-color: white;
    border-radius: 1em;
}

input {
    padding: 1.2em;
    border: 2px solid rgb(214, 214, 214);
}

.post_categorias {
    display: flex;
    /* flex-direction: column; */
    margin: 2em 3em;
    padding: 2em;
    gap: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.post_categorias form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1em;
}

.post_categorias h2 {
    text-align: center;
    margin: 0;
}

.lista_categorias {
    background-color: transparent;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    margin: 1em 3em;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* padding: 2em 2em 1em; */
}


.lista {
    /* border: 2px solid rgb(228, 228, 228); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    padding: 1em;
}

.buttons {
    gap: 0.5em;
    display: flex;

}

.lista_categorias h2 {
    background-color: #00C0EF;
    text-align: center;
    color: white;
    padding: 1em;
    /* margin: 0 0 0 1em; */
}

/* #edit {
    background-color: #00C0EF;
} */

#limpar_categoria:hover {
    background-color: #00C0EF;
}

/* .lista_categorias button {
    background-color: rgb(255, 84, 84);
} */

#okay {
    background-color: rgb(0, 207, 138);
}

#edit_button:hover {
    background-color: #00C0EF;
}

#delete_button {
    background-color: rgb(255, 84, 84);
}

#delete_button:hover {
    background-color: #00C0EF;
}


#close_button {
    background-color: rgb(255, 84, 84);
}

#close_button:hover {
    background-color: #00C0EF;
}

#edit_button {
    background-color: rgb(0, 207, 138);
}

#save_button {
    background-color: rgb(0, 207, 138);
}

#save_button:hover {
    background-color: #00C0EF;
}

#adicionar_categoria:hover {
    background-color: #00C0EF;
}

#limpar_categoria:hover {
    background-color: #00C0EF;
}

#adicionar_categoria {
    background-color: rgb(0, 207, 138);
}

#limpar_categoria {
    background-color: rgb(122, 122, 122);
}

@media (max-width: 800px) {

    .post_categorias {
        margin: 2em 1em;
        /* gap: 2em; */
    }

    .lista_categorias {
        margin: 2em 1em;
        /* gap: 2em; */
    }
}

.material-symbols-outlined {

    background-color: transparent;
    color: white;
}

button {
    cursor: pointer;
    border: 0;
    padding: 1em;
}